<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layou">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<!-- bootstrap -->
<link href="/lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/lib/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div layout:fragment="content" class="content"></div>
	<div th:replace="fragments/footer::footer"></div>
	<script src="/js/global.js"></script>
</body>
</html>