<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Insert title here</title>
<link href="/css/global.css" rel="stylesheet">
<script th:inline="javascript">
	const errorMessage = [[${errorMessage}]];
	
	if (errorMessage != null) {
		alert(errorMessage);
		location.href="/mypage/profile";
	}
</script>
</head>
<body>
<th:block layout:fragment="content">
	<!-- 메인 내용 -->
	<div class="col-lg-8">

		<form class="row row-cols-1 gy-4 mx-auto px-md-5" th:action="@{/mypage/portfolios/edit}" method="post" enctype="multipart/form-data" th:object="${portfolioDto}">
 			<input type="hidden" th:if="${portfolioDto.id != null}" th:field="*{id}" readonly>

			<div class="col">
				<label th:for="title" class="form-label">제목</label>
				<input type="text" class="form-control" th:field="*{title}" placeholder="제목을 입력해주세요." required>
				<div class="invalid-feedback">
					이름을 입력해주세요.
				</div>
			</div>

			<div class="col">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" th:field="*{content}" style="height: 25vh;" required></textarea>
					<label th:for="content">상세내용</label>
				</div>
			</div>

			<div class="col">
				<p>이미지</p>
				<input id="images-input" class="mb-3" type="file" name="portfolioImgFileList" accept="image/*" multiple>
				<div id="images-preview" class="row">
					<div class="col-3" th:each="imgUrl, status: ${portfolioDto.imgUrlList}">
						<img class="w-100" th:src="${imgUrl}" th:alt="portfolioImg- + ${status.index}">
					</div>

					<!-- <div class="col-3">
						<img class="w-100" src="../images/long-img-1.jpg" alt="">
					</div>
					<div class="col-3">
						<img class="w-100" src="../images/long-img-2.jpg" alt="">
					</div>
					<div class="col-3">
						<img class="w-100" src="../images/long-img-3.jpg" alt="">
					</div> -->
				</div>
			</div>

  			<a class="w-50 mb-3 mx-auto" th:if="${portfolioDto.id != null}" th:href="'/mypage/portfolios/delete/' + ${portfolioDto.id}"><button class="btn btn-secondary" type="button">삭제</button></a>
 				<button class="btn btn-primary w-50 mb-3 mx-auto" type="submit">저장</button>
		
		</form>
	</div>
</th:block>
<th:block layout:fragment="script-bottom">
	<script th:src="@{/js/imagePicker.js}"></script>
</th:block>
</body>
</html>