<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Insert title here</title>
<link href="/css/global.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
	<!-- 메인 내용 -->
	<div class="col-lg-8">

		<form class="row row-cols-1 gy-4 mx-auto px-md-5" th:action="@{/mypage/profile}" th:object="${profileFormDto}" method="post" enctype="multipart/form-data">

			<div class="col">
				<label th:for="id" class="form-label">제목</label>
				<input type="text" class="form-control" th:field="*{title}" th:value="*{title}" placeholder="제목을 입력해주세요.">
				<div class="invalid-feedback">
					이름을 입력해주세요.
				</div>
			</div>

			<div class="col">
				<p>기술 스택</p>

				<div class="form-check form-check-inline" th:each="stack : ${stackDtoList}">
					<label class="form-check-label">
						<input class="form-check-input" name="stackIdList" type="checkbox" th:value="${stack.id}" th:checked="${#lists.contains(profileFormDto.stackIdList, stack.id) ? 'checked' : null}">
						[[${stack.name}]]
					</label>
				</div>

<!-- 				<div class="form-check form-check-inline">
					<input class="form-check-input" name="stack" type="checkbox" value="stack" id="stack-1">
					<label class="form-check-label" for="stack-1">stack-1</label>
				</div>
 -->			</div>

			<div class="col">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" th:field="*{subTitle}" style="height: 10vh;" required></textarea>
					<label th:for="subTitle">짧은소개</label>
				</div>
			</div>

			<div class="col">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" th:field="*{content}" style="height: 25vh;" required></textarea>
					<label th:for="content">상세내용</label>
				</div>
			</div>

			<div class="col">
				<p>이미지</p>
				<input id="images-input" name="profileImgFileList" class="mb-3" type="file" accept="image/*" multiple>
				<div id="images-preview" class="row">
					<div class="col-3" th:each="profileImg : *{profileImgDtoList}">
						<img class="w-100" th:src="@{${profileImg.imgUrl}}" alt="">
					</div>
				</div>
			</div>

			<button class="btn btn-primary w-50 mb-3 mx-auto" type="submit">저장</button>
		
		</form>
	</div>
</th:block>

<th:block layout:fragment="script-bottom">
	<script th:src="@{/js/imagePicker.js}"></script>
</th:block>
</body>
</html>