<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="footer">
		<footer class="footer px-xl-5 px-lg-3 bg-body-tertiary">
			<div class="container-fluid vstack py-3 text-white" style="height: 160px;">
		  		<div class="row justify-content-between">
					<span class="col-md-6">lorem ipsum dolor sit amet</span>
					<span class="col-md-6 text-md-end">it's footer and footer</span>
		  		</div>
		  		<div class="hstack mt-auto">
					<span class="ms-auto">Illustration by <a class="text-primary" th:href="@{https://icons8.com/illustrations/author/7WmtYU90j36d}">Fruzka</a> from <a class="text-primary" th:href="@{https://icons8.com/illustrations}">Ouch!</a></span>
		  		</div>
			</div>
	  	</footer>
	</th:block>
</body>
</html>