<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="mypageSidebar">
		<div class="col-lg-3" th:with="path=${#httpServletRequest.requestURI}">
			<div class="border rounded-4 py-3 px-3 px-xl-5">
				<!-- 고객 -->
				<nav sec:authorize="hasRole('CUSTOMER')" class="nav nav-pills row row-cols-2 row-cols-sm-3 row-cols-lg-1">
					<a class="nav-link" th:classappend="${path == '/mypage/dashboard' ? 'active' : null}" th:aria-current="${path == '/mypage/dashboard' ? 'page' : null}" th:href="@{/mypage/dashboard}">대쉬보드</a>
					<a class="nav-link" th:classappend="${#strings.startsWith(path, '/mypage/requests') ? 'active' : null}" th:aria-current="${path == '/mypage/requests' ? 'page' : null}" th:href="@{/mypage/requests}">요청 내역</a>
					<a class="nav-link" th:classappend="${path == '/mypage/info' ? 'active' : null}" th:aria-current="${path == '/mypage/info' ? 'page' : null}" th:href="@{/mypage/info}">개인정보 변경</a>
				</nav>
				<!-- 파트너 -->
				<nav sec:authorize="hasRole('PROVIDER')" class="nav nav-pills row row-cols-2 row-cols-sm-3 row-cols-lg-1">
					<a class="nav-link" th:classappend="${path == '/mypage/dashboard' ? 'active' : null}" th:aria-current="${path == '/mypage/dashboard' ? 'page' : null}" th:href="@{/mypage/dashboard}">대쉬보드</a>
					<a class="nav-link" th:classappend="${#strings.startsWith(path, '/mypage/requests') ? 'active' : null}" th:aria-current="${path == '/mypage/requests' ? 'page' : null}" th:href="@{/mypage/requests}">요청 내역</a>
					<a class="nav-link" th:classappend="${path == '/mypage/info' ? 'active' : null}" th:aria-current="${path == '/mypage/info' ? 'page' : null}" th:href="@{/mypage/info}">개인정보 변경</a>
					<a class="nav-link" th:classappend="${path == '/mypage/profile' ? 'active' : null}" th:aria-current="${path == '/mypage/profile' ? 'page' : null}" th:href="@{/mypage/profile}">프로필 수정</a>
					<a class="nav-link" th:classappend="${(path == '/mypage/portfolios' || #strings.contains(path, '/mypage/portfolios/edit')) ? 'active' : null}" th:aria-current="${(path == '/mypage/portfolios' || #strings.contains(path, '/mypage/portfolios/edit')) ? 'page' : null}" th:href="@{/mypage/portfolios}">포트폴리오 수정</a>
				</nav>
				<!-- 관리자 -->
				<nav sec:authorize="hasRole('ADMIN')" class="nav nav-pills row row-cols-2 row-cols-sm-3 row-cols-lg-1">
					<a class="nav-link" th:classappend="${path == '/mypage/dashboard' ? 'active' : null}" th:aria-current="${path == '/mypage/dashboard' ? 'page' : null}" th:href="@{/mypage/dashboard}">대쉬보드</a>
					<a class="nav-link" th:classappend="${path == '/mypage/stacks' ? 'active' : null}" th:aria-current="${path == '/mypage/stacks' ? 'page' : null}" th:href="@{/mypage/stacks}">스택 관리</a>
					<a class="nav-link" th:classappend="${path == '/mypage/info' ? 'active' : null}" th:aria-current="${path == '/mypage/info' ? 'page' : null}" th:href="@{/mypage/info}">개인정보 변경</a>
				</nav>
			</div>
		</div>
	</th:block>
</body>
</html>