.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-card-big {
  width: 380px;
  height: 240px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  overflow: hidden;
  color: white;
  background-color: rgba(100, 100, 100, 0.075);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}
.profile-card-big .profile-card__bottom {
  height: 56px;
}
.profile-card-big__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.profile-card-big__top .profile-card__desc {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.profile-card-big__top .profile-card__desc .desc__greeting {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.profile-card-big__top .profile-card__desc .desc__intro {
  font-size: 12px;
  width: 75%;
  margin: 0;
  text-align: end;
}
.profile-card-big__bottom {
  height: 44px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-card-big__bottom .prov-profile__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-card {
  width: 320px;
  height: 208px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  overflow: hidden;
  color: white;
  background-color: rgba(100, 100, 100, 0.075);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}
.profile-card__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.profile-card__top .profile-card__desc {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.profile-card__top .profile-card__desc .desc__greeting {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.profile-card__top .profile-card__desc .desc__intro {
  font-size: 12px;
  width: 75%;
  margin: 0;
  text-align: end;
}
.profile-card__bottom {
  height: 44px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-card__bottom .prov-profile__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-card-small {
  width: 280px;
  height: 180px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  overflow: hidden;
  color: white;
  background-color: rgba(100, 100, 100, 0.075);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}
.profile-card-small__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.profile-card-small__top .profile-card__desc {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.profile-card-small__top .profile-card__desc .desc__greeting {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.profile-card-small__top .profile-card__desc .desc__intro {
  font-size: 12px;
  width: 75%;
  margin: 0;
  text-align: end;
}
.profile-card-small__bottom {
  height: 44px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-card-small__bottom .prov-profile__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-card-adapt {
  width: 100%;
  height: initial;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  overflow: hidden;
  color: white;
  background-color: rgba(100, 100, 100, 0.075);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}
.profile-card-adapt__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.profile-card-adapt__top .profile-card__desc {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.profile-card-adapt__top .profile-card__desc .desc__greeting {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.profile-card-adapt__top .profile-card__desc .desc__intro {
  font-size: 12px;
  width: 75%;
  margin: 0;
  text-align: end;
}
.profile-card-adapt__bottom {
  height: 44px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-card-adapt__bottom .prov-profile__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .profile-card {
    width: 320px;
    height: 216px;
  }
}
.main-section-profile-card-1 {
  top: 40%;
  left: 60%;
  -webkit-animation: card-flip 2500ms 900ms infinite;
          animation: card-flip 2500ms 900ms infinite;
}
.main-section-profile-card-2 {
  top: 45%;
  left: 55%;
  -webkit-animation: card-flip 2500ms 800ms infinite;
          animation: card-flip 2500ms 800ms infinite;
}
.main-section-profile-card-3 {
  top: 50%;
  left: 50%;
  -webkit-animation: card-flip 2500ms 700ms infinite;
          animation: card-flip 2500ms 700ms infinite;
}
.main-section-profile-card-4 {
  top: 55%;
  left: 45%;
  -webkit-animation: card-flip 2500ms 600ms infinite;
          animation: card-flip 2500ms 600ms infinite;
}
.main-section-profile-card-5 {
  top: 60%;
  left: 40%;
  -webkit-animation: card-flip 2500ms 500ms infinite;
          animation: card-flip 2500ms 500ms infinite;
}

.background-gradient-1 {
  background: linear-gradient(42deg, rgb(120, 223, 255) 0%, rgb(255, 151, 213) 100%);
}
.background-gradient-2 {
  background: linear-gradient(42deg, rgb(255, 151, 151) 0%, rgb(255, 204, 146) 100%);
}
.background-gradient-3 {
  background: linear-gradient(42deg, rgb(132, 249, 165) 0%, rgb(145, 143, 255) 100%);
}
.background-gradient-4 {
  background: linear-gradient(42deg, rgb(254, 159, 105) 0%, rgb(146, 248, 255) 100%);
}
.background-gradient-5 {
  background: linear-gradient(42deg, rgba(255, 0, 0, 0.25) 0%, rgba(204, 0, 255, 0.25) 100%);
}

.background-pattern-1 {
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 6px;
}
.background-pattern-2 {
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 4px 6px;
}
.background-pattern-3 {
  background-image: repeating-linear-gradient(-26deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 2px, transparent 3px, transparent 7px);
  background-size: 6px 9px;
}
.background-pattern-4 {
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 7px);
  background-size: 5px;
}
.background-pattern-5 {
  background-image: repeating-linear-gradient(88deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 7px);
  background-size: 2px 8px;
}
.background-pattern-6 {
  background-image: repeating-linear-gradient(36deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 2px);
  background-size: 2px 8px;
}

@-webkit-keyframes card-flip {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(20deg) rotateX(15deg);
  }
  75% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg) rotate(0deg);
  }
}

@keyframes card-flip {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(20deg) rotateX(15deg);
  }
  75% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg) rotate(0deg);
  }
}
#main-section {
  aspect-ratio: 16/9 !important;
}

@media screen and (max-width: 768px) {
  #main-section {
    aspect-ratio: 2/3 !important;
  }
}
@media screen and (min-width: 769px) {
  #site-info-section {
    aspect-ratio: 16/9;
  }
}
.main-bg-image {
  background-image: url("/images/main-bg-1350.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-step {
  position: relative;
}
.intro-step__card {
  width: 65%;
  aspect-ratio: 4/3;
  margin: 0 auto;
  margin-top: 80px;
  border: 4px solid transparent;
  border-radius: 24px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}
.intro-step__text {
  display: block;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
.intro-step__img {
  position: absolute;
}
.intro-step--1 .intro-step__card {
  background-image: linear-gradient(#fff, #fff), linear-gradient(42deg, rgb(243, 147, 147) 0%, rgb(218, 146, 236) 100%);
}
.intro-step--1 .intro-step__img {
  bottom: -30%;
  left: -8%;
  width: 60%;
}
.intro-step--2 .intro-step__card {
  background-image: linear-gradient(#fff, #fff), linear-gradient(42deg, rgb(254, 159, 105) 0%, rgb(146, 248, 255) 100%);
}
.intro-step--2 .intro-step__img {
  bottom: -42%;
  right: -2%;
  width: 60%;
}
.intro-step--3 .intro-step__card {
  background-image: linear-gradient(#fff, #fff), linear-gradient(42deg, rgb(255, 151, 151) 0%, rgb(255, 204, 146) 100%);
}
.intro-step--3 .intro-step__img {
  bottom: -30%;
  right: 0%;
  width: 45%;
  transform: scaleX(-1);
}

#profile-card-info {
  background: linear-gradient(42deg, #ADE7FC 0%, #F9ADDD 100%);
}/*# sourceMappingURL=index.css.map */