<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<title>Insert title here</title>
<link href="/css/global.css" rel="stylesheet">
</head>
<body>

<th:block layout:fragment="content">
  <main class="vstack" style="min-height: 88vh;">
    <div class="container my-auto">

      <!-- 요청 성공 페이지 -->
      <div class="row gy-4" th:if="${title == 'request success'}">
        <div class="col-md-4 ms-auto">
          <div class="text-center text-md-start">
            <h4>요청이 성공적으로 보내졌습니다.</h4>
            <p>파트너가 요청을 확인할 때까지 조금만 기다려주세요.</p>
            <a th:href="@{/mypage/requests}"><button class="btn btn-primary">요청 확인하기</button></a>
          </div>
        </div>
        <div class="col-md-4 me-auto">
          <img src="/images/bubble-gum/bubble-gum-message-sent.gif" alt="request-sent-gif">
        </div>
      </div>

      <!-- 고객 회원가입 성공 페이지 -->
      <div class="row gy-4" th:if="${title == 'customer signup success'}">
        <div class="col-md-4 ms-auto">
          <div class="text-center text-md-start">
            <h4>가입을 환영합니다.</h4>
            <p>나에게 맞는 파트너를 찾아보세요.</p>
            <a href=""><button class="btn btn-primary">파트너 찾기</button></a>
          </div>
        </div>
        <div class="col-md-4 me-auto">
          <img src="/images/bubble-gum/bubble-gum-support.gif" alt="request-sent-gif">
        </div>
      </div>

      <!-- 파트너 회원가입 성공 페이지 -->
      <div class="row gy-4" th:if="${title == 'provider signup success'}">
        <div class="col-md-4 ms-auto">
          <div class="text-center text-md-start">
            <h4>가입을 환영합니다.</h4>
            <p>파트너 프로필을 등록해보세요.</p>
            <a href=""><button class="btn btn-primary">프로필 등록하기</button></a>
          </div>
        </div>
        <div class="col-md-4 me-auto">
          <img src="/images/bubble-gum/bubble-gum-support.gif" alt="request-sent-gif">
        </div>
      </div>

    </div>
  </main>
</th:block>

<th:block layout:fragment="script-bottom">
</th:block>
</body>
</html>