.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin profile-card {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  overflow: hidden;
  color: white;
  // background: linear-gradient(42deg, rgba(255,132,132,0.5) 0%, rgba(230,132,255,0.5) 100%);
  background-color: rgba(100, 100, 100, 0.075);
  backdrop-filter: blur(6px);

  display: flex;
  flex-direction: column;

  &__top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 8px;

    .profile-card__desc {
      display: flex;
      flex-direction: column;
      align-items: end;
      .desc__greeting {
        width: 100%;
        font-size: 17px;
        font-weight: bold;
        margin: 0;
      }
      .desc__intro {
        font-size: 12px;
        width: 75%;
        margin: 0;
        text-align: end;
      }
    }
  }

  &__bottom {
    height: 44px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    gap: 8px;


    .prov-profile__img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}

.profile-card-big {
  width: 380px;
  height: 240px;

  .profile-card__bottom {
    height: 56px;
  }
  
  @include profile-card();
}

.profile-card {
  width: 320px;
  height: 208px;

  @include profile-card();
}

.profile-card-small {
  width: 280px;
  height: 180px;
  @include profile-card();
}

.profile-card-adapt {
  width: 100%;
  height: initial;
  aspect-ratio: 16/9;
  @include profile-card();
}

@media screen and (max-width: 768px) {
  .profile-card {
    width: 320px;
    height: 216px;
  }
}

// .profile-card {
//   width: 280px;
//   height: 180px;
//   box-sizing: border-box;
//   border: 2px solid rgba(255, 255, 255, 0.5);
//   border-radius: 16px;

//   overflow: hidden;
//   color: white;
//   // background: linear-gradient(42deg, rgba(255,132,132,0.5) 0%, rgba(230,132,255,0.5) 100%);
//   background-color: rgba(100, 100, 100, 0.075);
//   backdrop-filter: blur(6px);

//   display: flex;
//   flex-direction: column;

//   &__top {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     padding: 8px;

//     .profile-card__desc {
//       display: flex;
//       flex-direction: column;
//       align-items: end;
//       .desc__greeting {
//         width: 100%;
//         font-size: 17px;
//         font-weight: bold;
//         margin: 0;
//       }
//       .desc__intro {
//         font-size: 12px;
//         width: 75%;
//         margin: 0;
//         text-align: end;
//       }
//     }
//   }

//   &__bottom {
//     height: 44px;
//     padding: 8px 16px;
//     background: rgba(255, 255, 255, 0.5);

//     display: flex;
//     align-items: center;
//     gap: 8px;


//     .prov-profile__img {
//       width: 32px;
//       height: 32px;
//       border-radius: 50%;
//     }
//   }
// }

// .card-size-big {
//   width: 380px;
//   height: 256px;
//   border-radius: 24px;
  
//   .profile-card__top {
//     padding: 16px;

//     .profile-card__grade img {
//       width: 32px;
//       height: 32px;
//     }

//     .desc__greeting {
//       font-size: 20px;
//     }

//     .desc__intro {
//       font-size: 14px;
//     }
//   }

//   .profile-card__bottom {
//     height: 64px;
//   }
// }

.main-section-profile-card {
  &-1 {
    top: 40%;
    left: 60%;
    animation: card-flip 2500ms 900ms infinite;
  }

  &-2 {
    top: 45%;
    left: 55%;
    animation: card-flip 2500ms 800ms infinite;
  }

  &-3 {
    top: 50%;
    left: 50%;
    animation: card-flip 2500ms 700ms infinite;
  }

  &-4 {
    top: 55%;
    left: 45%;
    animation: card-flip 2500ms 600ms infinite;
  }

  &-5 {
    top: 60%;
    left: 40%;
    animation: card-flip 2500ms 500ms infinite;
  }
}

.background-gradient {
  &-1 {
    background: linear-gradient(42deg, rgb(120, 223, 255) 0%, rgb(255, 151, 213) 100%);
  }

  &-2 {
    background: linear-gradient(42deg, rgb(255, 151, 151) 0%, rgb(255, 204, 146) 100%);
  }

  &-3 {
    background: linear-gradient(42deg, rgb(132, 249, 165) 0%, rgb(145, 143, 255) 100%);
  }

  &-4 {
    background: linear-gradient(42deg, rgb(254, 159, 105) 0%, rgb(146, 248, 255) 100%);
  }

  &-5 {
    // background: linear-gradient(42deg, rgba(243, 147, 147, 0.5) 0%, rgba(218, 146, 236, 0.5) 100%);
    background: linear-gradient(42deg, rgba(255, 0, 0, 0.25) 0%, rgba(204, 0, 255, 0.25) 100%);
  }
}

.background-pattern {
  &-1 {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 6px;
  }

  &-2 {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 6px;
  }

  &-3 {
    background-image: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 3px, transparent 7px);
    background-size: 6px 9px;
  }

  &-4 {
    background-image: repeating-linear-gradient(90deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 7px);
    background-size: 5px;
  }

  &-5 {
    background-image: repeating-linear-gradient(88deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 7px);
    background-size: 2px 8px;
  }

  &-6 {
    background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px);
    background-size: 2px 8px;
  }
}

@keyframes card-flip {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(15deg);
  }

  50% {
    transform: translate(-50%, -50%) rotateY(20deg) rotateX(15deg);
  }

  75% {
    transform: translate(-50%, -50%) rotateY(10deg) rotateX(-15deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateY(0deg) rotate(0deg);
  }
}